.containerSidebar{
    background-color: #0066ff;
    height: 100vh;
    min-width: 5vw;
    max-width: 7vw;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.ulSidebar > dl:hover{
    color: black;
    background-color:  #dce0e6 ;
    padding: 5px;


}

.ulSidebar > dl {
    padding: 5px;
}

.containerUlSidebar{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}